.container {
  position: absolute;
  top: 0;
  left: 0;
  background: #523005;

  & > .header {
    display: flex;
    justify-content: flex-end;

    & > .closeBtn {
      cursor: pointer;
    }
  }
}
