.container {
  background-image: url("1.png");
  background-size: cover;
  width: 500px;
  height: 600px;
  background-color: white;
  position: relative;
}

.fueldsContainer {
  position: absolute;
  top: 100px;
  left: 350px;
}

.input {
  position: absolute;
  left: 240px;
  top: 20px;
}

.output {
  position: absolute;
  left: 237px;
  top: 379px;
}
